<head prefix="og: http://ogp.me/ns/# profile: http://ogp.me/ns/profile# article: http://ogp.me/ns/article#">

{% assign simple_title = site.display_name %}
{% assign full_title = site.display_name %}
{% assign description = page.excerpt %}
{% assign image = '/avatar.jpg' | prepend: site.baseurl %}

{% if page.title %}
  {% assign simple_title = page.title %}
  {% capture full_title %}{{ page.title }} - {{ site.display_name }}{% endcapture %}
{% endif %}

{% if page.description %}
  {% assign description = page.description %}
{% endif %}

{% if page.image %}
  {% assign image = page.image | prepend: site.baseurl %}
{% endif %}

    <meta charset="utf-8"/>
  <title>{{ full_title }}</title>
  <link rel="stylesheet" href="{{'/css/bootstrap.min.css' | prepend: site.baseurl}}" />
  <link rel="stylesheet" href="{{'/css/custom.css' | prepend: site.baseurl}}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}" />
  <script type="text/javascript" src="{{'/js/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script type="text/javascript" src="{{'/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {% if page.first_name %}
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="{{page.first_name}}" />
    <meta property="profile:last_name" content="{{page.last_name}}" />
    <meta property="profile:gender" content="{{page.gender}}" />
    <meta property="profile:username" content="SamuelDebruyn" />
  {% else %}
    <meta property="og:type" content="article" />
    <meta property="article:author" content="{{ '/' | prepend: site.baseurl }}">
    <meta property="article:published_time" content="{{ page.date | date: %F }}" />
  {% endif %}

  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ site.display_name }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:title" content="{{ simple_title }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl }}" />

  <meta name="description" content="{{ description }}" />

  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{{ simple_title }}"/>
  <meta name="twitter:site" content="@{{ site.twitter_username }}"/>
  <meta name="twitter:creator" content="@{{ site.twitter_username }}"/>
  <meta property="twitter:image:src" content="{{ image }}" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51718684-1', 'muel.be');
  ga('send', 'pageview');

  </script>
</head>
